<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <% include script %>
</head>
<body class="container">
    <div class="heading">
        <h1>Word Stats</h1>
        <p>Welcome to Word Stats</p>
    </div>
    <div id='newuser' class='mypanel'>
        <form id="regform" action="register" title="" method="POST">
            <div>
                <label class="title">Name</label>
                <input type="text" id="name" name="name" >
            </div>
            <div>
                <input type="submit" id="registerButton"  name="registerButton" value="Register">
            </div>
        </form>
    <p>Please enter your name and click Register</p>
    </div>
    <div id='welcomeuser' class='mypanel'>
    <p>Hi <span id='username'><%= name %></span></p>
    </div>


    <div id='userinput' class='mypanel'>
        <div>Type text into the box below and click Process Text.</div>
        <form id="uploadtext_form" action="upload/text" title="" method="POST">
            <div>
            <textarea id="usertext" name="usertext" rows="10" cols="80">
            </textarea>
            </div>
            <div>
                <input type="submit" id="uploadTextButton"  name="uploadTextButton" value="Process Text">
            </div>
        </form>
    </div>
    <br>
    <hr>
    <div id='my_stats' class='mypanel'>
        <h2>My Stats</h2>
        <div class='smallfont'>(Updated every 5 seconds)</div>
        <br>
        <div>User ID: <span id='my_userid'></span></div>
        <div>User Name: <span id='my_username'></span></div>
        <div>Total number of words processed for me: <span id='my_total'></span></div>
        <div>Total number of unique words encountered: <span id='my_uniq'></span></div>
        <div>Frequently encountered words: <span id='my_frequent'></span></div>
        <div>Rank: <span id='my_rank'></span></div>
        <div>Last updated on <span id='my_timestamp'></span></div>

    </div>
    <br>
    <hr>
    <div id='global_stats' class='mypanel'>
        <h2>Global Stats</h2>
        <div class='smallfont'>(Updated every 5 seconds)</div>
        <br>
        <div>Total number of users: <span id='all_users'></span></div>
        <div>Total number of words processed: <span id='all_total'></span></div>
        <div>Total number of unique words encountered: <span id='all_uniq'></span></div>
        <div>Frequently encountered words: <span id='all_frequent'></span></div>
        <div>Last updated on <span id='all_timestamp'></span></div>
    </div>
</body>
</html>
